.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}


.header {
  width: 100vw;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 24px;
  background: cadetblue;
}

.highBox {
  width: 100vw;
  height: 100vh;
  background: bisque;
}

.highInnerBox {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: greenyellow;
}

.monthBox {
  width: 100vw;
  height: 100vh;
  background: pink;
}

.monthInnerBox {
  width: 100%;
  height: 100vh;
  display: flex;
  background: yellowgreen;
  flex-direction: column;
  align-items: center;
}

.charBox {
  width: 100%;
  height: 100%;
  background: pink;
}